/* ABOUT */

body {
    main {
        section {
            .wild-flowers-about-h1 {
                text-align: center;
                font-size: medium;
                font-weight: bold;
                font-family: "Roboto", sans-serif;
                margin: 20px;
              }

            .wild-flowers-about-p {
                text-align: center;
                font-family: "Roboto", sans-serif;
                margin: 20px;
              }
        }

        div {
            div {
                div {
                    .images-about-me {
                        width: 100%;
                        margin-top: 25px;
                      }

                    .wild-flowers-about-h2 {
                        text-align: center;
                        font-size: medium;
                        font-weight: bold;
                        font-family: "Roboto", sans-serif;
                        margin: 20px;
                      }

                    .wild-flowers-about-p {
                        text-align: center;
                        font-family: "Roboto", sans-serif;
                        margin: 20px;
                      }
                }
            }
        }
    }
}
