  /* ESTILO FOOTER */
  
  .footer-container{
    .footer-link {
        font-family: "Roboto", sans-serif;
        background-color: #F2F2F2;
        color: #595959;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 25px;
        padding-bottom: 25px;
        margin-top: 25px;
        flex-wrap: wrap;

        .link {
            margin-left: 30px;
            margin-right: 30px;
        

                .footer-subtitulos {
                    font-weight: bold;
                    font-size: 13px;
                    font-family: "Roboto", sans-serif;
                    color: #595959;
                    flex-wrap: wrap; 
                }

                p {
                    font-size: 13px;
                    color: #595959;
                }

                ul {
                    li {
                        text-decoration: none;
                        list-style: none;
                        font-size: 12px;
                        color: #595959;
                        font-family: "Roboto", sans-serif;
                        display: block;
                        margin-left: -28px;

                        a {
                            display: block;
                            text-decoration: none;
                            list-style: none;
                            font-size: 12px;
                            color: #595959;
                            font-family: "Roboto", sans-serif;
                        }
                    }
                }

                .redes-sociales {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .icono-instagram {
                        width: 25px;
                        height: 25px;
                        margin: 5px;
                    }

                    ul{
                        li {
                            a {
                                margin-top: 10px;
                              }
                        }
                    }
                }

        }
    }
}
