/* Media query */

@media only screen and (min-width: 320px) and (max-width: 768px) {
    header {
        border-bottom: 1.5px solid #595959;
        flex-direction: column;
        nav {
            .iconos-header {
                visibility: hidden;
            }

            div {
                div{
                    align-items: center;

                    .navbar-brand {
                        width: 150px;
                        margin-left: 0px;
                    }

                    .logo-wild-flowers {
                        height: 100%;
                        width: auto;
                    }

                    .navbar-toggler{
                        margin-right: 0px;
                        height: 50px;
                        
                    }
                }
            }
        }
    }


}
