/* TIPS DE SIEMBRA */

body {
    main {
        section {
            .wild-flowers-tips-h1 {
                text-align: center;
                font-size: medium;
                font-weight: bold;
                font-family: "Roboto", sans-serif;
                margin-bottom: 20px;
              }

            .wild-flowers-tips-p-titulo {
                text-align: center;
                font-style: italic;
                font-family: "Roboto", sans-serif;
                margin-bottom: 10px;
              }
        }

        div {
            div {
                div {
                    .images-tips-pasos-1 {
                        width: 100%;
                        margin-top: 25px;
                      }

                    .images-tips-pasos-2-1 {
                        width: 100%;
                        margin-top: 25px;
                      }

                    .images-tips-pasos-2-2 {
                        width: 100%;
                        margin-top: 25px;
                      }

                    .images-tips-pasos-2-3 {
                        width: 100%;
                        margin-top: 25px;
                      }

                    .images-tips-pasos-2-4 {
                        width: 100%;
                        margin-top: 25px;
                      }

                    .images-tips-pasos-4 {
                        width: 100%;
                        margin-top: 25px;
                      }

                    .tips-pasos-h2 {
                        font-weight: bold;
                        font-style: italic;
                        font-family: "Roboto", sans-serif;
                        font-size: medium; 
                        color: #595959;
                        list-style-type: none;
                        margin-top: 25px;
                        margin-bottom: 4px;
                      }

                    .tips-pasos-p {
                        font-family: "Roboto", sans-serif;
                      }

                    /* COMENTARIOS EN CURSIVA */
                    .paragraph-one {
                        font-style: italic;
                        font-family: "Roboto", sans-serif;
                      }
                      
                }
            }
        }
    }
}
